@import "../helpers/helpers.scss";
@import "variables.scss";
@import "fontface.scss";
@import "text_bg_color.scss";
@import "typography.scss";
@import "bootstrap3.scss";

body {
  margin: 0;
  @extend .text_reg;
  font-family: var(--font_secondary);
}

* {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--color_brown);
}

.container-fluid {
  width: 100%;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

.container {
  @extend .container-fluid;
  margin: 0 auto;
  width: var(--container_width);
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.text_center {
  text-align: center;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

picture {
  display: block !important;
}

.section_spacing {
  padding: 10vmin 0;
}

//classes for fonts
.font_primary {
  font-family: var(--font_primary);
  font-weight: normal;
}
.font_secondary {
  font-family: var(--font_secondary);
}
