//font sizes
.text_xxs {
  font-size: 12px;
  line-height: 1.5;
}

.text_xs {
  font-size: 18px;
  line-height: 1.5;

  @include md-down {
    font-size: 14px;
  }
}

.text_sm {
  font-size: 20px;
  line-height: 1.5;

  @include xxxl-down {
    font-size: 18px;
  }

  @include md-down {
    font-size: 16px;
  }
}

//for default body copy font
.text_reg {
  font-size: 25px;
  line-height: 1.3;

  @include xxxl-down {
    font-size: 20px;
  }

  @include md-down {
    font-size: 18px;
  }
}

.text_md {
  font-size: 35px;
  line-height: 1.2;

  @include xxxl-down {
    font-size: 26px;
  }

  @include md-down {
    font-size: 22px;
  }

  @include sm-down {
    font-size: 20px;
  }
}

.text_lg {
  font-size: 43px;
  line-height: 1.15;

  @include xxxl-down {
    font-size: 30px;
  }

  @include md-down {
    font-size: 26px;
  }

  @include sm-down {
    font-size: 22px;
  }
}

.text_xl {
  font-size: 50px;
  line-height: 1.15;

  @include xxxl-down {
    font-size: 36px;
  }

  @include md-down {
    font-size: 30px;
  }

  @include sm-down {
    font-size: 24px;
  }
}

.text_xxl {
  font-size: 70px;
  line-height: 1.1;

  @include xxxl-down {
    font-size: 44px;
  }

  @include md-down {
    font-size: 36px;
  }

  @include sm-down {
    font-size: 28px;
  }
}

.text_xxxl {
  font-size: 77px;
  line-height: 1.1;

  @include xxxl-down {
    font-size: 56px;
  }

  @include md-down {
    font-size: 44px;
  }

  @include sm-down {
    font-size: 32px;
  }
}

.text_xxxxl {
  font-size: 86px;
  line-height: 1;

  @include xxxl-down {
    font-size: 64px;
  }

  @include md-down {
    font-size: 52px;
  }

  @include sm-down {
    font-size: 34px;
  }
}

// //each loop for creating font weights ->
// //.text_100, .text_200 .....
$sizes: 400, 500, 700, 800; //reg,med,bold,extrabold

@each $size in $sizes {
  .text_#{$size} {
    font-weight: $size;
  }
}