@import "../helpers/helpers.scss";

.signup_page {
	width: 100%;

	.signup_wrap {
		width: 100%;
		height: 100vh;
		@extend %f_r_aj_center;

		.signup_box {
			border: 1px solid lightgray;
			border-radius: 15px;
			box-shadow: 12px -12px 24px #dbd1d1,
				-12px 12px 24px #cec8c8;
			padding: 40px 35px;

			.title {
				color: palevioletred;
			}

			p {
				color: var(--color_text);
				margin-bottom: 20px;
			}

			.form_group {

				.form_box {
					width: 100%;
					margin-bottom: 15px;

					label {
						color: var(--color_text);
						opacity: 0.6;
						font-weight: normal;
						font-size: 14px;
						text-transform: uppercase;
					}

					input {
						width: 100%;
						padding: 10px;
						border-radius: 10px;
						border: 1px solid gray;
						outline: none;

						&:focus {
							border: 1px solid palevioletred;
						}
					}
				}
			}
		}
	}
}